@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.input {
  @apply first-line:block px-4 py-2 border-[1.6px] border-gray-400 rounded-md font-ubuntu focus:outline-none focus:border-primary;
}

.label {
  @apply absolute top-[-7px] left-4 text-gray-400 font-ubuntu bg-white px-1 peer-focus:text-primary uppercase text-xs;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b202d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238) 989;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: rgb(5, 192, 5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
